<section class="banner">
    {% if section.title is not empty %}
        <h2 class="banner__title main-wrapper">{{ section.title }}</h2>
    {% endif %}

    <div class="banner__image" style="background-image: url( {{section.banner.url}} );background-position: {{section.horizontal_layout}} {{section.vertical_layout}}; height: {{section.banner_height}}vh; "></div>
    
    <div class="banner__content main-wrapper">

        {% if section.subtitle is not empty %}
            <div class="banner__subtitle">
                {{ section.subtitle }}
            </div>
        {% endif %}
        {% if section.description is not empty %}
            <div class="banner__description">
                {{ section.description }}
            </div>
        {% endif %}
        {% if section.add_cta == true %}
            <div class="banner__cta-wrapper">
                <a href="{{ section.link.url }}" target="{{ section.link.target }}" class="cta">
                    {{ section.link.title }}
                </a>
            </div>
        {% endif %}
    </div>
</section>