<section class="banner">
    <div class="banner__title">{{ section.title }}</div>
    <img src="{{ section.banner.url }}" alt="{{ section.banner.title }}" style="height:{{ section.banner.height }}vh" class="banner__image">
    <div class="banner__subtitle">{{ section.subtitle }}</div>
    <div class="banner__description">{{ section.description }}</div>
    <div class="banner__cta-wrapper">
        <a href="{{ section.link.url }}" target="{{ section.link.target }}" class="cta">{{ section.link.title }}</a>
    </div>
</section>