<section id="{{ section.title|sanitize }}" class="contact">   
    <div class="main-wrapper contact-container">
        <div class="contact__image-block">
            <a href="{{section.link.url}}" target="{{ section.link.target }}">
                <div class="contact__image" style="background-image: url({{section.google_map.url}});" ></div>
            </a>
        </div>
        <div class="contact-form">
            <form class="contact-form__form acdm-form">
                <div class="contact-form__fields">
                    <div class="form-input__wrapper">
                        <input type="text" id="contact-lastname" name="lastname" class="form-input required">
                        <label for="contact-lastname" class="form-input__label">Nom</label>     
                    </div>
        
                    <div class="form-input__wrapper">
                        <input type="email" id="contact-mail" name="mail" class="form-input required">
                        <label for="contact-mail" class="form-input__label">Email</label>
                    </div>
        
                    <div class="form-input__wrapper">
                        <input type="subject" id="contact-subject" name="subject" class="form-input required" value="{{ contact_form.value.subject }}">
                        <label for="contact-subject" class="form-input__label">Sujet</label>
                    </div>
        
                    <div class="form-textarea__wrapper">
                        <textarea name="message" class="form-textarea required" id="contact-message"></textarea>
                        <label for="contact-message" class="form-input__label">Message</label>
                    </div>
                </div>
                <div class="contact-form__cta-wrapper cta-wrapper">
                    <button class="contact-form__cta-submit cta cta__form submit-button" >
                        {{ contact_form.btn_send }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>