<section class="presentation main-wrapper" id="{{ section.title|sanitize }}">
    <div class="presentation__logo">
        <img src="{{ section.logo.url }}" alt="{{ section.logo.title }}" class="presentation-logo">
        <div class="logo__title-container">
            <h2 class="logo__logo-text logo-text--left">{{ section.left_text }}</h2>
            <h2 class="logo__logo-text logo-text--right">{{ section.right_text }}</h2>
        </div>
    </div>

    <div class="presentation__address">{{ section.address }}</div>

    <div id="presentation__arrow" class="presentation__arrow" data-scrollto="#montres-de-collection">
        <div class="presentation__anchor">
            <
        </div>
    </div>

</section>