<section id="{{ section.title|sanitize }}" class="watches">

    {% if section.title is not empty %}
        <h2 class="watches__title main-wrapper">{{ section.title }}</h2>
    {% endif %}
    
    {% if section.layout == "slider" %}
    <div class="main-wrapper">
        <!-- Ajouter ici le swiper -->
        {% if section.subtitle is not empty %}
            <div class="watches__subtitle">
                {{ section.subtitle }}
            </div>
        {% endif %}
        {% if section.add_cta == true %}
            <div class="watches__cta-wrapper">
                <a href="{{ section.link.url }}" target="{{ section.link.target }}" class="cta">
                    {{ section.link.title }}
                </a>
            </div>
        {% endif %}
    </div>
    {% endif %}
    {% if section.layout == "listing" %}
    <!-- si c'est en liste -->
    <div class="main-wrapper">
        <!-- on boucle -->
        <div class="watches__content">
            {% for key, watch in section.watches %}
            <div class="watch">
                <a href="{{ watches[watch].permalink }}" target="_blank">
                    <div class="watch__image">           
                        {{ watches[watch].thumbnail }}
                    </div>
                    <div class="watch__title">
                        {{ watches[watch].name }}
                    </div>
                    <div class="watch__price">
                        {{ watches[watch].price }}€
                    </div>
                </a>
            </div>
            {%endfor%}
        </div>
    </div>
    {% endif %}
</section>