<section id="{{ section.title|sanitize }}" class="watches">

    {% if section.title is not empty %}
        <h2 class="watches__title main-wrapper">{{ section.title }}</h2>
    {% endif %}
    
    {% if section.layout == "slider" %}
        <div class="main-wrapper">
            <div class="swiper-container">
            <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for watch in section.watches %}
                    <div class="swiper-slide">
                        <a href="{{ watches[watch].permalink }}" target="_blank">
                            
                            <div class="slide--watch__image">           
                                {{ watches[watch].thumbnail }}
                            </div>
                            <div class="watch__title">
                                {{ watches[watch].name }}
                            </div>
                            <div class="watch__price">
                                {{ watches[watch].price }} €
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            
            </div>
            <div class="button--container">
                <div class="swiper-button-prev">
                    <img src="{{ site.theme.link }}/assets/images/slider-left.png">
                </div>
                <div class="swiper-button-next">
                    <img src="{{ site.theme.link }}/assets/images/slider-left.png">
                </div>
            </div>
            {% if section.subtitle is not empty %}
                <div class="watches__subtitle">
                    <div class="watches__subtitle-text">{{ section.subtitle }}</div>
                </div>
            {% endif %}
            {% if section.add_button == true %}
                <div class="watches__cta-wrapper">
                    <a href="{{ section.link.url }}" target="{{ section.link.target }}" class="cta cta--watches">
                        {{ section.link.title }}
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if section.layout == "listing" %}
    <!-- si c'est en liste -->
    <div class="main-wrapper">
        <!-- on boucle -->
        <div class="watches__content">
            {% for key, watch in section.watches %}
                {% if watches[watch] %}
                {{ dump(watches[watch].thumbnail) }}
                {{ dump(watches[watch].name) }}
                {{ dump(watches[watch].price) }}
                <div class="watch">
                    <a href="{{ watches[watch].permalink }}" target="_blank">
                        <div class="watch__image">           
                            {{ watches[watch].thumbnail }}
                        </div>
                        <div class="watch__title">
                            {{ watches[watch].name }}
                        </div>
                        <div class="watch__price">
                            {{ watches[watch].price }}€
                        </div>
                    </a>
                </div>
                {% else %}
                {{ dump(watches[watch].thumbnail) }}
                {{ dump(watches[watch].name) }}
                {{ dump(watches[watch].price) }}
                <div class="watch-carre" style="background-color: whitesmoke;max-width: 304px;width: 100%;margin-top: 40px;">
                </div>
                {% endif %}
            {%endfor%}
        </div>
    </div>
    {% endif %}
</section>